﻿@page "/carType/add"

@using CarMan.Domain.ViewModels
@using CarMan.Client.Services
@using CarMan.Client.Helpers

<br />
<br />
<div class="container center-content">
    <div class="div-form-panel">
        <div class="container">
            <EditForm Model="@carType" OnValidSubmit="@CreateNew">
                <DataAnnotationsValidator />
                @*<ValidationSummary />*@
                <br />
                <div class="d-flex justify-content-center">
                    <h4>Add new car type</h4>
                </div>
                <br />
                <div class="card">
                    <div class="card-header">
                        Basic Information
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label for="name">Name:</label>
                            <InputText Id="name" Class="form-control" required="required" @bind-value="carType.Name" />
                            <ValidationMessage For="@(() => carType.Name)" style="color:#e8eaed; padding:5px;" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-outline-light btn-block" @onclick="@NavigateToIndex">Cancel</button>
                    </div>

                    <div class="ml-auto p-2 bd-highlight">
                        <button class="btn btn-outline-primary btn-block" type="submit">Add</button>
                    </div>
                </div>
                <br />
            </EditForm>
        </div>
    </div>
</div>
<br />
<br />

@code{

    [Inject] private CarTypeServices _services { get; set; }
    [Inject] private IUriHelper _uriHelper { get; set; }
    [Inject] private AuthServices _authServices { get; set; }
    [Inject] protected Sotsera.Blazor.Toaster.IToaster _toaster { get; set; }

    protected CarTypeViewModel carType { get; set; } = new CarTypeViewModel();

    //protected override async Task OnInitAsync()
    //{

    //}

    protected async Task CreateNew()
    {
        await _services.Create(carType);

        if (_services.IsCreated)
        {
            NavigateToIndex();
            _toaster.Success(ToasterMsg.Success);
        }
        else
        {
            //NavigateToIndex()
            _toaster.Error(ToasterMsg.Error);
        }
    }

    private void NavigateToIndex()
    {
        _uriHelper.NavigateTo(ClientUrls.CarType);
    }
}