﻿@page "/employee/add"

@using CarMan.Domain.ViewModels
@using CarMan.Client.Services
@using CarMan.Client.Helpers

<br />
<br />

<div>
    <div class="container center-content">
        <div class="div-form-panel">
            <div class="container">
                <EditForm Model="@employee" OnValidSubmit="@CreateNew">
                    <DataAnnotationsValidator />
                    @*<ValidationSummary />*@
                    <br />
                    <div class="d-flex justify-content-center">
                        <h4>Add new employee</h4>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            Basic Information
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label for="name">Name:</label>
                                <InputText Id="name" Class="form-control" required="required" @bind-value="employee.Name" />
                                <ValidationMessage For="@(() => employee.Name)" style="color:#e8eaed; padding:5px;" />
                            </div>

                            <div class="form-group">
                                <label for="isDriver">Employee is driver:</label>
                                <InputCheckbox Id="isDriver" Class="form-control" @bind-value="employee.IsDriver" />
                                <ValidationMessage For="@(() => employee.IsDriver)" style="color:#e8eaed; padding:5px;" />
                            </div>

                        </div>
                    </div>
                    <br />
                    <div class="d-flex bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <button class="btn btn-outline-light btn-block" @onclick="@NavigateToIndex">Cancel</button>
                        </div>

                        <div class="ml-auto p-2 bd-highlight">
                            <button class="btn btn-outline-primary btn-block" type="submit">Create</button>
                        </div>
                    </div>
                    <br />
                </EditForm>
            </div>
        </div>
    </div>
</div>

<br />
<br />

@code{

    [Inject] private EmployeeServices _services { get; set; }
    [Inject] private IUriHelper _uriHelper { get; set; }
    [Inject] private AuthServices _authServices { get; set; }
    [Inject] protected Sotsera.Blazor.Toaster.IToaster _toaster { get; set; }

    protected EmployeeViewModel employee { get; set; } = new EmployeeViewModel();

    //protected override async Task OnInitAsync()
    //{

    //}

    protected async Task CreateNew()
    {
        await _services.Create(employee);

        if (_services.IsCreated)
        {
            NavigateToIndex();
            _toaster.Success(ToasterMsg.Success);
        }
        else
        {
            //NavigateToIndex();
            _toaster.Error(ToasterMsg.Error);
        }
    }

    private void NavigateToIndex()
    {
        _uriHelper.NavigateTo(ClientUrls.Employee);
    }
}