﻿@page "/employee/details"
@page "/employee/details/{Id}"

@using CarMan.Domain.ViewModels
@using CarMan.Client.Services
@using CarMan.Client.Helpers

<br />
<br />

@if (employee == null)
{
    <div class="text-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
    <br />
    <br />

    <div>
        <div class="container center-content">
            <div class="div-form-panel">

                <div class="d-flex justify-content-center">
                    <h4>Employee Details</h4>
                </div>
                <hr />
                <br />
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Name:</td>
                            <td>@employee.Name</td>
                        </tr>
                        <tr>
                            <td>
                                @if (@employee.IsDriver == true)
                                {
                                    <p>Employee with driving license</p>
                                }
                                else
                                {
                                    <p>Employee without driving license</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Date Created:</td>
                            <td>@employee.DateCreated</td>
                        </tr>
                    </table>
                </div>
                <hr />
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-outline-light" type="button" @onclick="NavigateToIndex">
                            Return to list
                        </button>
                    </div>

                    <div class="ml-auto p-2 bd-highlight">
                        <button class="btn btn-outline-primary" @onclick="@(() => NavigateToEdit(employee.Id.ToString()))">
                            <i class="fa fa-pencil-square-o"></i>Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
}

@code {

    [Parameter] string Id { get; set; }
    [Inject] private IUriHelper _uriHelper { get; set; }
    [Inject] private AuthServices _authServices { get; set; }
    [Inject] protected Sotsera.Blazor.Toaster.IToaster _toaster { get; set; }
    [Inject] private EmployeeServices _services { get; set; }

    protected EmployeeViewModel employee { get; set; } = new EmployeeViewModel();

    protected override async Task OnInitAsync()
    {
        await GetEntity(Convert.ToInt32(Id));
    }

    protected async Task GetEntity(int? Id)
    {
        employee = await _services.SelectById(Id);
    }

    private void NavigateToEdit(string Id)
    {
        _uriHelper.NavigateTo(ClientUrls.EmployeeEdit + Id);
    }

    private void NavigateToIndex()
    {
        _uriHelper.NavigateTo(ClientUrls.Employee);
    }
}
