﻿@page "/travel/add"

@using CarMan.Domain.ViewModels
@using CarMan.Client.Services
@using CarMan.Client.Helpers
@using System

<br />
<br />

<div class="container center-content">
    <div class="div-form-panel">
        <div class="container">
            <EditForm Model="@travel" OnValidSubmit="@CreateNew">
                <DataAnnotationsValidator />

                <br />
                <div class="d-flex justify-content-center">
                    <h4>Publish New Travel</h4>
                </div>
                <br />

                <div class="card">

                    <div class="card-header">
                        Basic Travel Information
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label for="startLocation">Start Location:</label>
                            <InputText Id="startLocation" Class="form-control" required="required" @bind-value="travel.StartLocation" />
                            <ValidationMessage For="@(() => travel.StartLocation)" style="color:#e8eaed; padding:5px;" />
                        </div>

                        <div class="form-group">
                            <label for="endLocation">End Location:</label>
                            <InputText Id="endLocation" Class="form-control" required="required" @bind-value="travel.EndLocation" />
                            <ValidationMessage For="@(() => travel.EndLocation)" style="color:#e8eaed; padding:5px;" />
                        </div>

                        <div class="form-group">
                            <label for="startDate">Start Date:</label>
                            <InputDate Id="startDate" Class="form-control" required="required" @bind-value="travel.StartDate" />
                            <ValidationMessage For="@(() => travel.StartDate)" style="color:#e8eaed; padding:5px;" />
                        </div>

                        <div class="form-group">
                            <label for="endDate">End Date:</label>
                            <InputDate Id="endDate" Class="form-control" required="required" @bind-value="travel.EndDate" />
                            <ValidationMessage For="@(() => travel.EndDate)" style="color:#e8eaed; padding:5px;" />
                            @if (!IsValidDate)
                            {
                                <p>End Date must be greater or equal then start date!</p>
                            }
                        </div>

                        <div class="form-group">
                            <label for="car">Car</label>
                            <div class="row">
                                <div class="col col-9">
                                    <select Id="car" Class="form-control" @onchange="CarSelect">
                                        <option value="">-- Select car from Carpool --</option>
                                        @if (cars != null)
                                        {
                                            @foreach (var car in cars)
                                            {
                                                <option value="@car.Id">@car.CarType.Name @car.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col">
                                    <button href="javascript:void(0)" type="button" class="btn btn-outline-light btn-block" @onclick="@(()=>GetAvailableCars())">Refresh</button>
                                </div>
                                @if (IsRequiredEmpty)
                                {
                                    <br />
                                    <div class="col col-12">
                                        <div class="warning-note">
                                            <p><strong>Warning!</strong> Fields: Start location / Start travel date / End travel date are required!</p>
                                        </div>
                                    </div>
                                    <br />
                                }
                                @if (travel.CarId < 1)
                                {
                                    <br />
                                    <div class="col col-12">
                                        <div class="warning-note">
                                            <p><strong>Warning!</strong> To proceed with publishing new travel, please choose car from drop down list!</p>
                                        </div>
                                    </div>
                                    <br />
                                }
                            </div>
                            <ValidationMessage For="@(() => travel.CarId)" style="color:#e8eaed; padding:5px;" />
                        </div>
                        <br />
                    </div>
                </div>

                <br />

                @if (travel.CarId > 0)
                {
                    <div class="card">
                        <div class="card-header">
                            Employee List Information
                        </div>
                        <div class="card-body">
                            @if (employeesToAdd.Count <= getNumberOfSeats - 1)
                            {
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <button type="button" class="list-group-item list-group-item-action active">
                                            Available Employees
                                        </button>
                                        <div class="list-group scrollStyle">

                                            @foreach (var employee in employeesToChoose)
                                            {
                                                <button type="button" class="list-group-item list-group-item-action" @onclick="@(()=>EmployeeAdd(employee))">
                                                    @employee.Name @if (@employee.IsDriver == true)
                                                    {<span>(Driver)</span>}
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="list-group">
                                        <button type="button" class="list-group-item list-group-item-action active">
                                            Selected Employees <p style="font-style:italic">( Available seats in car: @(@getNumberOfSeats - @employeesToAdd.Count) )</p>
                                        </button>
                                        @foreach (var employee in employeesToAdd)
                                        {
                                            <button type="button" class="list-group-item list-group-item-action" @onclick="@(()=>EmployeeRemove(employee))">
                                                @employee.Name @if (@employee.IsDriver == true)
                                                {<span>(Driver)</span>}
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                            @if (!IsDriverExist)
                            {
                                <br />
                                <div class="danger-note">
                                    <p><strong>Danger!</strong>  Car must have at least one driver!</p>
                                </div>
                                <br />
                            }
                            @if (employeesToAdd.Count >= getNumberOfSeats && IsDriverExist)
                            {
                                <br />
                                <div class="info-note">
                                    <p><strong>Info!</strong>  Car is full, you can procceed with publishing this travel!</p>
                                </div>
                                <br />
                            }
                            @if (getNumberOfSeats - employeesToAdd.Count < 0)
                            {
                                <br />
                                <div class="danger-note">
                                    <p><strong>Danger!</strong>  In this car is to many employees. To continue with publish, remove employees!</p>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                }

                <br />
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-outline-light btn-block" @onclick="@NavigateToIndex">Cancel</button>
                    </div>
                    @if (travel.CarId > 0 && travel.TravelEmployees.Count > 0 && IsDriverExist == true)
                    {
                        <div class="ml-auto p-2 bd-highlight">
                            <button class="btn btn-outline-primary btn-block" type="submit">Publish New Travel</button>
                        </div>
                    }
                    else
                    {
                        <div class="ml-auto p-2 bd-highlight">
                            <button class="btn btn-outline-primary btn-block disabled" type="submit" disabled="disabled">Publish New Travel</button>
                        </div>
                    }
                </div>
            </EditForm>
        </div>
    </div>
</div>
<br />
<br />
<div class="col"></div>

@code{

    [Inject] private TravelServices _services { get; set; }
    [Inject] private CarServices _servicesCar { get; set; }
    [Inject] private EmployeeServices _servicesEmployee { get; set; }
    [Inject] private IUriHelper _uriHelper { get; set; }
    [Inject] private AuthServices _authServices { get; set; }
    [Inject] protected Sotsera.Blazor.Toaster.IToaster _toaster { get; set; }

    protected List<CarViewModel> cars = new List<CarViewModel>();
    protected List<EmployeeViewModel> employeesToChoose = new List<EmployeeViewModel>();
    protected List<EmployeeViewModel> employeesToAdd = new List<EmployeeViewModel>();
    protected CarViewModel car = new CarViewModel();
    protected EmployeeViewModel employee = new EmployeeViewModel();
    protected TravelViewModel travel = new TravelViewModel();

    string selectedCar { get; set; }
    bool DriverWithLicense { get; set; } = false;
    int getNumberOfSeats { get; set; } = 0;
    bool IsDriverExist { get; set; }
    bool IsValidDate { get; set; } = true;
    bool IsRequiredEmpty { get; set; } = false;

    protected override async Task OnInitAsync()
    {
        await GetAllEmployees();
    }

    protected async Task CreateNew()
    {
        DateCheck();
        if (IsValidDate)
        {
            await _services.Create(travel);

            if (_services.IsCreated)
            {
                NavigateToIndex();
                _toaster.Success(ToasterMsg.Success);
            }
            else
            {
                _toaster.Error(ToasterMsg.Error);
            }
        }
    }

    protected void CarSelect(UIChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int id))
        {
            car = cars.FirstOrDefault(b => b.Id == id);
            travel.CarId = id;
            getNumberOfSeats = car.NumberOfSeats;
        }
        //EmployeeListClear();
        this.StateHasChanged();
    }

    protected void EmployeeAdd(EmployeeViewModel employee)
    {
        if (employeesToAdd.Find(x => x.Id == employee.Id) == null)
        {
            employeesToAdd.Add(employee);
            travel.TravelEmployees.Add(new TravelEmployeeViewModel { TravelId = travel.Id, EmployeeId = employee.Id });
            employeesToChoose.RemoveAll(x => x.Id == employee.Id);
            DriverCheck();
            this.StateHasChanged();
        }
    }

    protected void EmployeeRemove(EmployeeViewModel employee)
    {
        employeesToAdd.RemoveAll(x => x.Id == employee.Id);
        travel.TravelEmployees.RemoveAll(x => x.EmployeeId == employee.Id);
        employeesToChoose.Add(employee);
        DriverCheck();
        this.StateHasChanged();
    }

    protected void EmployeeListClear()
    {
        employeesToAdd.Clear();
        travel.TravelEmployees.Clear();
        DriverCheck();
    }

    protected void DriverCheck()
    {
        if (employeesToAdd == null)
        {
            IsDriverExist = false;
        }
        else
        {
            foreach (var employee in employeesToAdd)
            {
                if (employee.IsDriver == true)
                {
                    IsDriverExist = true;
                    break;
                }
                else
                {
                    IsDriverExist = false;
                }
            }
        }
    }

    protected void DateCheck()
    {
        if (travel.StartDate > travel.EndDate)
        {
            IsValidDate = false;
            this.StateHasChanged();
        }
        else
        {
            IsValidDate = true;
            this.StateHasChanged();
        }
    }

    protected async Task GetAllCars()
    {
        cars = await _servicesCar.SelectAll();
    }

    protected async Task GetAllEmployees()
    {
        employeesToChoose = await _servicesEmployee.SelectAll();
    }

    protected async Task GetAvailableCars()
    {
        cars.Clear();

        if (travel.StartLocation != null && travel.StartDate != null && travel.EndDate != null)
        {
            DateCheck();
            if (IsValidDate)
            {
                cars = await _servicesCar.SelectAvailable(travel.StartLocation, travel.EndLocation, travel.StartDate, travel.EndDate);
                IsRequiredEmpty = false;
                this.StateHasChanged();
            }
        }
        else
        {
            IsRequiredEmpty = true;
        }
    }

    protected void NavigateToIndex()
    {
        _uriHelper.NavigateTo(ClientUrls.Travel);
    }
}