﻿@page "/travel/details"
@page "/travel/details/{Id}"

@using CarMan.Domain.ViewModels
@using CarMan.Client.Services
@using CarMan.Client.Helpers

<br />
<br />

@if (travel == null)
{
    <div class="text-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="container center-content">
        <div class="div-form-panel">

            <div class="d-flex justify-content-center">
                <h4>Travel Details</h4>
                <hr />
                <div>
                    <button class="btn btn-outline-light"
                            target="_blank"
                            @onclick="@(() => NavigateToNavigation(travel.StartLocation, travel.EndLocation))">
                        Get Directions
                    </button>
                </div>
            </div>

            <br />

            <div class="col-md-12">
                <hr />
                <h5>Basic Travel Information</h5>
                <hr />
                <br />

                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Start Location:</td>
                            <td>@travel.StartLocation</td>
                        </tr>
                        <tr>
                            <td>End Location:</td>
                            <td>@travel.EndLocation</td>
                        </tr>
                        <tr>
                            <td>Start Date:</td>
                            <td>@travel.StartDate</td>
                        </tr>
                        <tr>
                            <td>End Date:</td>
                            <td>@travel.EndDate</td>
                        </tr>
                        <tr>
                            <td>Date Created:</td>
                            <td>@travel.DateCreated</td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-12">
                    <hr />
                    <h5>Car Information</h5>
                    <hr />
                    <br />
                    <div class="col-md-12">
                        <table class="table">
                            <tr>
                                <td>Car Name:</td>
                                <td>@travel.Car.Name</td>
                            </tr>
                            <tr>
                                <td>Car Type:</td>
                                <td>@travel.Car.CarType.Name</td>
                            </tr>
                            <tr>
                                <td>Car Plates:</td>
                                <td>@travel.Car.Plates</td>
                            </tr>
                            <tr>
                                <td>Number of seats:</td>
                                <td>@travel.Car.NumberOfSeats</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action active">
                                Traveled Employees
                            </button>
                            @foreach (var employee in travel.TravelEmployees)
                            {
                                <button type="button" class="list-group-item list-group-item-action">
                                    @employee.Employee.Name @if (@employee.Employee.IsDriver == true)
                                    {<span>(Driver)</span>}
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="d-flex bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <button class="btn btn-outline-light" type="button" @onclick="@NavigateToIndex">
                        Return to list
                    </button>
                </div>

                <div class="ml-auto p-2 bd-highlight">
                    <button class="btn btn-outline-primary" @onclick="@(() => NavigateToEdit(travel.Id.ToString()))">
                        <i class="fa fa-pencil-square-o"></i>Edit
                    </button>
                </div>
            </div>
        </div>
    </div>       
}

<br />
<br />

@code {

    [Parameter] string Id { get; set; }
    [Inject] private IUriHelper _uriHelper { get; set; }
    [Inject] protected Sotsera.Blazor.Toaster.IToaster _toaster { get; set; }
    [Inject] private AuthServices _authServices { get; set; }
    [Inject] private TravelServices _services { get; set; }

    TravelViewModel travel = new TravelViewModel
    {
        StartDate = null,
        EndDate = null,
        StartLocation = "",
        EndLocation = "",
        CarId = 0,
        Car = new CarViewModel
        {
            CarTypeId = 0,
            Color = "",
            Plates = "",
            NumberOfSeats = 0,
            CarType = new CarTypeViewModel
            {
                Id = 0,
                Name = ""
            }
        },
        TravelEmployees = new List<TravelEmployeeViewModel>
        {
                new TravelEmployeeViewModel
                {
                    TravelId = 0,
                    EmployeeId = 0,
                    Employee = new EmployeeViewModel
                    {
                        Name = ""
                    }
                }
        }
    };

    protected override async Task OnInitAsync()
    {
        await GetEntity(Convert.ToInt32(Id));
    }

    protected async Task GetEntity(int? Id)
    {
        travel = await _services.SelectById(Id);
    }

    private void NavigateToEdit(string Id)
    {
        _uriHelper.NavigateTo(ClientUrls.TravelEdit + Id);
    }

    private void NavigateToIndex()
    {
        _uriHelper.NavigateTo(ClientUrls.Travel);
    }

    private void NavigateToNavigation(string startLocation, string endLocation)
    {
        var strUrl = $"https://www.google.com/maps/dir/?api=1&origin=" + startLocation + "&destination=" + endLocation + "&mode=car";
        _uriHelper.NavigateTo(strUrl);
    }
}
