﻿@page "/travel"

@using CarMan.Domain.ViewModels
@using CarMan.Client.Services
@using CarMan.Client.Helpers
@inject IJSRuntime JS

<br />
<br />
<div class="well">
    <div class="container container-fluid div-list-panel">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="startDate">Start Travel Date</label>
                <Input type="datetime" Id="startDate" Class="form-control" required="required" @bind-value="StartDate" />             
            </div>          
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="endDate">End Travel Date</label>
                <Input type="datetime" Id="endDate" Class="form-control" required="required" @bind-value="EndDate" />
            </div>
        </div>
        <div class="col-lg-12">
            <div class="d-flex bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <button class="btn btn-outline-primary btn-lg" type="button" @onclick="GetAllSearched">Search</button>
                </div>

                <div class="ml-auto p-2 bd-highlight">
                    <button class="btn btn-outline-light btn-lg" type="button" @onclick="ClearSearch">Clear Search</button>
                </div>
            </div>
        </div>       
        <br />
        <div class="col-lg-12">
            <div>
                <button class="btn btn-outline-primary btn-lg" type="button" @onclick="@NavigateToAdd">Publish New Travel</button>
            </div>
        </div>
    </div>
</div>
<br />
<br />



@if (!travels.Any())
{
    <div class="text-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}

else
{
    @foreach (var travel in travels)
    {
        <div class="well">
            <div class="container container-fluid">
                <div class="row div-list-panel">
                    <div class="col">
                        <div class="center-all">
                            <img src="https://img.icons8.com/cotton/64/000000/cab-left.png">
                        </div>
                    </div>
                    <div class="col">
                        <h5>Traveling from @travel.StartLocation to @travel.EndLocation</h5>
                        <p></p>
                        <p style="font-style:italic"> Added on day: @travel.DateCreated</p>
                    </div>
                    <div class="col">
                        <div class="center-all icon-color">
                            <MatIconButton Icon="remove_red_eye" Class="icon-color" OnClick="@(() => NavigateToDetail(travel.Id.ToString()))"></MatIconButton>
                            <MatIconButton Icon="delete" Class="icon-color" OnClick="@(() => DeleteTravel(travel.Id))"></MatIconButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<br />
<br />

@code {

    [Inject] private IUriHelper _uriHelper { get; set; }
    [Inject] protected Sotsera.Blazor.Toaster.IToaster _toaster { get; set; }
    [Inject] private AuthServices _authServices { get; set; }
    [Inject] private TravelServices _services { get; set; }

    protected List<TravelViewModel> travels = new List<TravelViewModel>();

    public DateTime? StartDate { get; set; } = null;
    public DateTime? EndDate { get; set; } = null;

    protected override async Task OnInitAsync()
    {
        await GetAll();
    }

    protected async Task GetAll()
    {
        travels = await _services.SelectAll();
        this.StateHasChanged();
    }

    protected async Task GetAllSearched()
    {
        travels = await _services.SelectAllSearched(StartDate, EndDate);
        this.StateHasChanged();
    }

    protected async Task ClearSearch()
    {
        this.StartDate = null;
        this.EndDate = null;
        await GetAll();
        this.StateHasChanged();
    }

    protected async Task Delete(int? Id)
    {
        await _services.Delete(Id);

        if (_services.IsDeleted)
        {
            await GetAll();
            this.StateHasChanged();
            _toaster.Success(ToasterMsg.Success);
        }
        else
        {
            _toaster.Error(ToasterMsg.Error);
        }
    }

    async Task DeleteTravel(int Id)
    {
        if (await JS.Confirm($"Remove travel from list?"))
        {
            await Delete(Id);
        }
    }

    private void NavigateToAdd()
    {
        _uriHelper.NavigateTo(ClientUrls.TravelAdd);
    }

    private void NavigateToDetail(string Id)
    {
        _uriHelper.NavigateTo(ClientUrls.TravelDetails + Id);
    }
}
