﻿@page "/car/edit/{Id}"
@page "/car/edit"

@using CarMan.Domain.ViewModels
@using CarMan.Client.Services
@using CarMan.Client.Helpers

<br />
<br />

<div>
    <div class="container center-content">
        <div class="div-form-panel">
            <div class="container">
                <EditForm Model="@car" OnValidSubmit="@EditCurrent">
                    <DataAnnotationsValidator />
                    <br />
                    <div class="d-flex justify-content-center">
                        <h4>Edit Current Car in Carpool</h4>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            Basic Information
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label for="name">Name:</label>
                                <InputText Id="name" Class="form-control" required="required" @bind-value="car.Name" />
                                <ValidationMessage For="@(() => car.Name)" style="color:#e8eaed; padding:5px;" />
                            </div>

                            <div class="form-group">
                                <label for="carType">Car Type:</label>
                                <select Id="carType" Class="form-control" required="required" @bind="car.CarTypeId">
                                    <option value="">-- Select Car Type --</option>
                                    @foreach (var carType in carTypeList)
                                    {
                                        <option value="@carType.Id">@carType.Name</option>
                                    }
                                </select>
                                <ValidationMessage For="@(() => car.CarTypeId)" style="color:#e8eaed; padding:5px;" />
                            </div>

                            <div class="form-group">
                                <label for="color">Color:</label>
                                <InputText Id="color" Class="form-control" required="required" @bind-value="car.Color" />
                                <ValidationMessage For="@(() => car.Color)" style="color:#e8eaed; padding:5px;" />
                            </div>

                            <div class="form-group">
                                <label for="plates">Plates:</label>
                                <InputText Id="plates" Class="form-control" required="required" @bind-value="car.Plates" />
                                <ValidationMessage For="@(() => car.Plates)" style="color:#e8eaed; padding:5px;" />
                                @if (validation == false)
                                {
                                    <p>This plates are already used for evidenced car. Please enter another plates!</p>
                                }
                            </div>

                            <div class="form-group">
                                <label for="dateOfBirth">Number Of Seats:</label>
                                <InputNumber Id="dateOfBirth" Class="form-control" required="required" @bind-value="car.NumberOfSeats" />
                                <ValidationMessage For="@(() => car.NumberOfSeats)" style="color:#e8eaed; padding:5px;" />
                            </div>

                        </div>
                    </div>
                    <br />
                    <div class="d-flex bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <button class="btn btn-outline-light btn-block" @onclick="@NavigateToIndex">Cancel</button>
                        </div>

                        <div class="ml-auto p-2 bd-highlight">
                            <button class="btn btn-outline-primary btn-block" type="submit">Save Changes</button>
                        </div>
                    </div>
                    <br />
                </EditForm>
            </div>
        </div>
    </div>
</div>

<br />
<br />

@code{

    [Parameter] string Id { get; set; }
    [Inject] private CarServices _services { get; set; }
    [Inject] private CarTypeServices _servicesCarType { get; set; }
    [Inject] private IUriHelper _uriHelper { get; set; }
    [Inject] private AuthServices _authServices { get; set; }
    [Inject] protected Sotsera.Blazor.Toaster.IToaster _toaster { get; set; }

    protected CarViewModel car { get; set; } = new CarViewModel();
    protected List<CarTypeViewModel> carTypeList = new List<CarTypeViewModel>();
    private bool validation = true;

    protected override async Task OnInitAsync()
    {
        await GetAllCarType();
        await GetEntity(Convert.ToInt32(Id));
    }

    protected async Task EditCurrent()
    {
        await _services.Update(car, Convert.ToInt32(Id));

        if (_services.IsUpdated)
        {
            NavigateToIndex();
            _toaster.Success(ToasterMsg.Success);
        }
        else if (!_services.IsValid)
        {
            validation = false;
            _toaster.Error(ToasterMsg.Error);
        }
        else
        {
            NavigateToIndex();
            _toaster.Error(ToasterMsg.Error);
        }
    }

    protected async Task GetEntity(int? Id)
    {
        car = await _services.SelectById(Id);
    }

    protected async Task GetAllCarType()
    {
        carTypeList = await _servicesCarType.SelectAll();
    }

    private void NavigateToIndex()
    {
        _uriHelper.NavigateTo(ClientUrls.Car);
    }
}
