﻿@page "/car"

@using CarMan.Domain.ViewModels
@using CarMan.Client.Services
@using CarMan.Client.Helpers
@inject IJSRuntime JS

<br />
<br />
<div class="row mb-3">
    <div class="col-md-7">
        <button class="btn btn-outline-primary btn-lg" type="button" @onclick="@NavigateToAdd">Add New Car</button>
    </div>
</div>
<br />
<br />

@if (!cars.Any())
{
    <div class="text-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}

else
{
    @foreach (var car in cars)
    {
        <div class="well">
            <div class="container container-fluid">
                <div class="row div-list-panel">
                    <div class="col">
                        <div class="center-all">
                            <img src="https://img.icons8.com/cotton/64/000000/retro-car--v2.png">
                        </div>
                    </div>
                    <div class="col">
                        <h5>@car.CarType.Name @car.Name</h5>
                        <p>@car.Plates</p>
                        <p style="font-style:italic"> Added on day: @car.DateCreated</p>
                    </div>
                    <div class="col">
                        <div class="center-all icon-color">
                            <MatIconButton Icon="remove_red_eye" Class="icon-color" OnClick="@(() => NavigateToDetail(car.Id.ToString()))"></MatIconButton>
                            <MatIconButton Icon="delete" Class="icon-color" OnClick="@(() => DeleteCar(car.Id))"></MatIconButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<br />
<br />

@code {

    [Inject] private IUriHelper _uriHelper { get; set; }
    [Inject] private AuthServices _authServices { get; set; }
    [Inject] protected Sotsera.Blazor.Toaster.IToaster _toaster { get; set; }
    [Inject] private CarServices _services { get; set; }

    protected List<CarViewModel> cars = new List<CarViewModel>();

    protected override async Task OnInitAsync()
    {
        await GetAll();
    }

    protected async Task GetAll()
    {
        cars = await _services.SelectAll();
    }

    protected async Task Delete(int? Id)
    {
        await _services.Delete(Id);

        if (_services.IsDeleted)
        {
            await GetAll();
            _toaster.Success(ToasterMsg.Success);
        }
        else
        {
            _toaster.Success(ToasterMsg.Error);
        }
    }

    async Task DeleteCar(int Id)
    {
        if (await JS.Confirm($"Remove car from list?"))
        {
            await Delete(Id);
        }
    }

    void NavigateToAdd()
    {
        _uriHelper.NavigateTo(ClientUrls.CarAdd);
    }

    private void NavigateToDetail(string Id)
    {
        _uriHelper.NavigateTo(ClientUrls.CarDetails + Id);
    }
}