@inherits LayoutComponentBase
@using CarMan.Client.Services;


    <div class="main">
        @if (_services.IsLoggedIn)
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        }
        <div class="content px-4">
            @Body
        </div>
    </div>


@code {

    [Inject] private AuthServices _services { get; set; }

    [Inject] private IUriHelper _uriHelper { get; set; }


    protected override async Task OnInitAsync()
    {

        await _services.LogCheck();

        if (!_services.IsLoggedIn)
        {
            _uriHelper.NavigateTo("/login");
        }
        else
        {
            _uriHelper.NavigateTo("/dashboard");
        }
    }
}