﻿@using CarMan.Client.Services;

<nav class="navbar fixed-top navbar-dark bg-primary">
    <button class="btn btn-sidebar" type="button" id="sidebarCollapse" @onclick="@SidebarCollapse">
        <span class="oi oi-menu"></span>
    </button>
    <ul class="navbar-nav mr-auto">
        <li style="padding-left:10px;">
            <a>CarMan - Car Management</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <button class="btn btn-outline-primary" type="button" id="sidebarCollapse" @onclick="@SignOut">
            SignOut
        </button>
    </ul>
</nav>


<aside id="sidebar" class="sidebar @SidebarActive">

    <div class="sidebar-header">
        <div style="text-align:center">
            <button type="button" id="sidebarCollapse" class="btn" @onclick="SidebarCollapse">
                <h4>CarMan</h4>
            </button>
        </div>
    </div>

    <ul class="nav flex-column">
        <li class="nav-item px-3" @onclick="SidebarCollapse">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3" @onclick="SidebarCollapse">
            <NavLink class="nav-link" href="carType">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Car Types
            </NavLink>
        </li>

        <li class="nav-item px-3" @onclick="SidebarCollapse">
            <NavLink class="nav-link" href="car">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Carpool
            </NavLink>
        </li>

        <li class="nav-item px-3" @onclick="SidebarCollapse">
            <NavLink class="nav-link" href="employee">
                <span class="oi oi-people" aria-hidden="true"></span> Employees
            </NavLink>
        </li>

        <li class="nav-item px-3" @onclick="SidebarCollapse">
            <NavLink class="nav-link" href="travel">
                <span class="oi oi-globe" aria-hidden="true"></span> Travels
            </NavLink>
        </li>
    </ul>

    <p class="version-number"><a href="" target="_blank" @onclick="SidebarCollapse"><i class="fab fa-github"></i></a> <small>v1.12.0</small></p>
</aside>

<div class="overlay @OverlayActive"></div>

@code{

    [Inject] private AuthServices _services { get; set; }

    [Inject] private IUriHelper _uriHelper { get; set; }

    public string SidebarActive { get; private set; } = null;

    public string OverlayActive { get; private set; } = null;

    private const string Active = "active";

    private string ButtonState { get; set; } = null;


    public void SidebarCollapse()
    {
        if (SidebarActive == Active)
        {
            SidebarActive = null;
            OverlayActive = null;
        }
        else
        {
            SidebarActive = Active;
            OverlayActive = Active;
        }
    }

    public async void SignOut()
    {
        await _services.LogOut();
        _uriHelper.NavigateTo("/login");
    }
}