﻿@page "/login"

@using CarMan.Domain.ViewModels
@using CarMan.Client.Services
@using CarMan.Client.Helpers

<br />
<br />
<div>
    <div class="container" style="max-width:600px;">
        <div class="div-form-panel">
            <div class="row pt-4 pb-4">
                <div class="col-md-8 offset-md-2">
                    <h4 class="text-center">Please enter your email and password</h4>
                </div>
            </div>
            <EditForm Model="@loginViewModel" OnValidSubmit="@LoginApp">
                <DataAnnotationsValidator />
                @*<ValidationSummary />*@
                <div class="container">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <InputText Id="email" Class="form-control" required="required" @bind-value="@loginViewModel.Email" />
                        <ValidationMessage For="@(() => loginViewModel.Email)" style="color:lightgrey" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <InputText Id="password" class="form-control" required="required" @bind-Value="@loginViewModel.Password" />
                        <ValidationMessage For="@(() => loginViewModel.Password)" style="color:lightgrey" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary btn-block">Login</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<br />
<br />

@code {

    [Inject] private AuthServices _services { get; set; }
    [Inject] private IUriHelper _uriHelper { get; set; }
    [Inject] private Sotsera.Blazor.Toaster.IToaster _toaster { get; set; }

    private LoginViewModel loginViewModel = new LoginViewModel();

    protected async Task LoginApp()
    {
        //Console.WriteLine($"{loginViewModel.Email} and {loginViewModel.Password}");

        await _services.Login(loginViewModel);

        if (_services.IsLoggedIn)
        {
            _uriHelper.NavigateTo("/");
        }
        else
        {
            _toaster.Error("Email and/or password is incorrect!");
            _uriHelper.NavigateTo("/login");
            ClearFields();
        }
    }

    protected void ClearFields()
    {
        loginViewModel.Email = string.Empty;
        loginViewModel.Password = string.Empty;

    }
}
