﻿@page "/"
@page "/dashboard"

@using CarMan.Domain.ViewModels
@using CarMan.Client.Services
@using CarMan.Client.Helpers

<br />
<br />

<div class="well">
    <div class="container container-fluid">

        <div class="row">
            <div class="col div-list-panel" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); margin:15px; cursor: pointer;" @onclick="NavigateToCarTypeAdd">
                <h5 class="text-center">Number of Car Types</h5>
                @if (dashStatNumViewModel.CarTypes == 0)
                {
                    <div class="text-center">
                        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }
                else
                {
                    <h2 class="text-center">@dashStatNumViewModel.CarTypes</h2>
                }
            </div>
            <div class="col div-list-panel" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); margin:15px; cursor: pointer;" @onclick="NavigateToCarAdd">
                <h5 class="text-center">Number Of Cars</h5>
                @if (dashStatNumViewModel.Cars == 0)
                {
                    <div class="text-center">
                        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }
                else
                {
                    <h2 class="text-center">@dashStatNumViewModel.Cars</h2>
                }
            </div>
            <div class="col div-list-panel" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); margin:15px; cursor: pointer;" @onclick="NavigateToEmployeeAdd">
                <h5 class="text-center">Number of Employees</h5>
                @if (dashStatNumViewModel.Employees == 0)
                {
                    <div class="text-center">
                        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }
                else
                {
                    <h2 class="text-center">@dashStatNumViewModel.Employees</h2>
                }
            </div>
            <div class="col div-list-panel" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); margin:15px; cursor: pointer;" @onclick="NavigateToTravelAdd">
                <h5 class="text-center">Number of Travels</h5>
                @if (dashStatNumViewModel.Travels == 0)
                {
                    <div class="text-center">
                        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }
                else
                {
                    <h2 class="text-center">@dashStatNumViewModel.Travels</h2>
                }
            </div>
        </div>

        <br />
        <br />

        <div class="row">
            <div class="container container-fluid div-list-panel" style="margin:15px;">
                @if (!dashStatCarViewModel.Any())
                {
                    <div class="text-center">
                        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }
                else
                {
                    <h5 style="font-style:italic">Statistics for cars</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Car type</th>
                                <th scope="col">Car Name</th>
                                <th scope="col" style="text-align:center">Number of travels</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var car in dashStatCarViewModel)
                            {
                                <tr>
                                    <td>@car.CarType</td>
                                    <td>@car.CarName</td>
                                    <td style="text-align:center">@car.NumOfTravel</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>

    </div>
</div>

<br />
<br />


@code{

    [Inject] private IUriHelper _uriHelper { get; set; }
    [Inject] private DashboardServices _services { get; set; }

    protected DashStatNumViewModel dashStatNumViewModel = new DashStatNumViewModel();
    protected List<DashStatCarViewModel> dashStatCarViewModel = new List<DashStatCarViewModel>();

    protected override async Task OnInitAsync()
    {
        await GetStatSum();
        await GetStatCar();
    }

    protected async Task GetStatSum()
    {
        dashStatNumViewModel = await _services.GetSumStat();
    }

    protected async Task GetStatCar()
    {
        dashStatCarViewModel = await _services.GetCarStat();
    }

    private void NavigateToEmployeeAdd()
    {
        _uriHelper.NavigateTo(ClientUrls.EmployeeAdd);
    }

    private void NavigateToCarAdd()
    {
        _uriHelper.NavigateTo(ClientUrls.CarAdd);
    }

    private void NavigateToTravelAdd()
    {
        _uriHelper.NavigateTo(ClientUrls.TravelAdd);
    }

    private void NavigateToCarTypeAdd()
    {
        _uriHelper.NavigateTo(ClientUrls.CarTypeAdd);
    }
}
