﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova.eot');
    src: url('../fonts/Proxima Nova.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova.woff') format('woff'), url('../fonts/Proxima Nova.ttf') format('truetype'), url('../fonts/Proxima Nova.svg#proxima_nova_alt_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-font-color: #e8eaed;
    --main-background-color: #202124;
    --main-sidebar-color: #292a2d;
    --main-border-color: #3f4042;
    --main-blue-color: #007acc;
}

html, body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    background-color: var(--main-background-color);
    padding-top: 30px;
}

h1, h2, h3, h4, h5, h6, a, p, li, span, th, td, label {
    color: var(--main-font-color);
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.49);
}

.icon-color {
    color: var(--main-font-color);
}

.form-validation {
    color: var(--main-font-color);
}

.center-content {
    width: 600px;
    height: 00px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/*TESTING PURPOSE*/
.center-all {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scrollStyle {
    max-height: 190px;
    overflow-y: scroll;
}

select option {
    background-color: #3c3d40;
    color: #fff;
    border: 0px solid #202124;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #ffffff17;
    background-clip: padding-box;
    border: 1px solid #202124;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    .form-control:focus {
        border: 0px solid #202124;
        background-color: #ffffff17;
        color: #ffffff;
    }
/**/

/* CUSTOM CSS FOR NOTES - START */
.danger-note {
    background-color: #f4433685;
    border-left: 6px solid #f44336;
    padding: 10px;
}

.success-note {
    background-color: #4CAF50;
    border-left: 6px solid #4CAF50;
    padding: 10px;
}

.info-note {
    background-color: #007accb0;
    border-left: 6px solid #2196F3;
    padding: 10px;
}

.warning-note {
    background-color: #ebeb4142;
    border-left: 6px solid #ffeb3b;
    padding: 10px;
}
/* CUSTOM CSS FOR NOTES - END */

/* CUSTOM CSS FOR LISTGROUP - START */

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border: 2px solid var(--main-blue-color);
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: var(--main-sidebar-color);
    border: 1px var(--main-border-color);
}
.list-group-item-action {
    width: 100%;
    color: var(--main-font-color);
    text-align: inherit;
}
    .list-group-item-action:focus, .list-group-item-action:hover {
        z-index: 1;
        color: var(--main-font-color);
        text-decoration: none;
        background-color: #202124;
        transition: all 0.2s ease-in-out;
    }
/* CUSTOM CSS FOR LISTGROUP - END */

/* CUSTOM CSS FOR NAVBAR - START */
.bg-primary {
    background-color: var(--main-sidebar-color) !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid var(--main-border-color);
}
/* CUSTOM CSS FOR NAVBAR - END */


/* CUSTOM CSS FOR VERTICAL SCROLL LINE - START */
/* width */
::-webkit-scrollbar {
    width: 5px;
    background: var(--main-border-color);
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--main-border-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-font-color);
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--main-blue-color);
    }
/* CUSTOM CSS FOR VERTICAL SCROLL LINE - END */


/* CUSTOM CSS FOR CARD - START */
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--main-sidebar-color);
    background-clip: border-box;
    border: 1px solid var(--main-border-color);
    border-radius: .25rem;
}

    .card .card-header {
        background-color: var(--main-border-color);
        color: var(--main-font-color)
    }

    .card .card-body {
        background-color: var(--main-sidebar-color);
    }
/* CUSTOM CSS FOR CARD - END */


/* CUSTOM CSS FOR MAIN AND FORM PANEL - START */

.div-form-panel {
    background-color: var(--main-sidebar-color);
    /* border-radius */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    margin: 5px;
    padding: 15px;
    max-width: 700px;
}

.div-list-panel {
    background-color: var(--main-sidebar-color);
    /* border-radius */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    margin-bottom: 1.6%;
    line-height: 1.4;
    font-family: sans-serif;
    padding: 10px;
}

    .div-list-panel:hover {
        background-color: var(--main-background-color);
        transition: all 0.2s ease-in-out;
    }


.div-main-panel {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    background-color: var(--main-sidebar-color);
    /* border-radius */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    margin-bottom: 1.6%;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
    max-width: 600px;
    max-height: 105px;
}

    .div-main-panel:hover {
        background-color: var(--main-background-color);
        transition: all 0.2s ease-in-out;
    }

.panel-logo {
    /*background-color: #ff9e2c;*/
    flex: 0.3;
    padding: 1rem;
    /*background-image: url('../images/employee_2.png');*/
    background-repeat: no-repeat;
}

.panel-decription {
    /*background-color: #b6701e;*/
    flex: 1;
    padding: 1rem;
}

    .panel-decription .footer {
        align-self: flex-end;
        position: absolute;
        bottom: 0;
    }

.panel-action {
    /*background-color: #b6701e;*/
    flex: 0.3;
    padding: 1rem;
}

/* CUSTOM CSS FOR MAIN AND FORM PANEL - END */

/* CUSTOM CSS FOR TABLE - START */
.table {
    border-color: var(--main-border-color);
}

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: none;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid var(--main-border-color);
    }
/* CUSTOM CSS FOR TABLE - END */

.section-row {
    padding-bottom: 2em;
}

.task-meta {
    margin-bottom: 0px;
}

.project-group {
    padding-bottom: 1em;
}

.project-btn:focus {
    box-shadow: none !important;
}

.btn-task-options {
    color: #6c757d;
    background-color: transparent;
}

    .btn-task-options:focus {
        box-shadow: none;
    }

    .btn-task-options:hover, .btn-complete:hover {
        filter: brightness(75%);
    }

.btn-complete {
    color: #28a745;
    background-color: transparent;
}

.col-leading {
    padding-left: 0;
}

.col-trailing {
    padding-right: 0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    font-size: 1.1rem;
    vertical-align: text-top;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    top: 0;
    bottom: 0;
    margin-left: -250px;
    position: fixed;
    /*overflow: auto;*/
    -webkit-overflow-scrolling: touch;
    z-index: 9999;
    background: var(--main-sidebar-color);
    transition: all 0.2s;
    overflow-y: scroll;
}

    #sidebar.active {
        margin-left: 0px;
    }

.sidebar-header {
    cursor: pointer;
    text-align: center;
    background: var(--main-sidebar-color);
    border-bottom: 1px var(--main-border-color);
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li > div, #sidebar ul li > label, #sidebar ul li > a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

    #sidebar ul li > div:hover, #sidebar ul li > label:hover, #sidebar ul li > a:hover {
        background: var(--main-background-color);
        cursor: pointer;
    }

#sidebar ul li.active > div,
div[aria-expanded="true"] {
    background: #e2e6ea;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

.version-number {
    padding: 10px;
}


#content {
    /*width: calc(100% - 250px);*/
    /*padding: 40px;*/
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

    #content.active {
        width: 100%;
    }



/*OVERLAY CUSTOM CSS - START*/
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    transition: all 0.3s;
}
    /* display .overlay when it has the .active class */
    .overlay.active {
        display: block;
        opacity: 1;
    }
/*OVERLAY CUSTOM CSS - END*/


/*LOADING ANIME - START*/
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.spinner-pages {
    width: 40px;
    height: 40px;
    position: relative;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
/*LOADING ANIME - END*/


app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        /*height: 3rem;*/
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.btn-sidebar {
    cursor: pointer;
    padding-top: 10px;
}

    .btn-sidebar:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

    .btn¸-sidebar:focus, .btn-sidebar:active {
        outline: none !important;
        box-shadow: none;
    }
